.infinite-scroll-component {
    overflow: hidden !important;
}
.searchInput{
    outline: none;
    padding: 5px 10px;
    width: 464px;
    height: 36px;
    border: 1px solid gray;
    border-right: none;
}