.infinite-scroll-component {
    overflow: hidden !important;
}
.searchInput{
    outline: none;
    padding: 5px 10px;
    width: 464px;
    height: 36px;
    border: 1px solid gray;
    border-right: none;
}
.searchInput-res{
    width: 80%;
}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

.slick-slide{
    width: auto !important;
}