job-box {
    width: 100%;
    align-items: center;
    margin-bottom: 12px;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.job-box li {
    width: 270px;
    padding: 20px;

}

.job-box a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.job-box h4 {
    color: #4d3bdb;
}


.job-box p {
    color: rgb(108, 108, 108);
}

.childbox {
    width: 300px;
    height: 220px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    border-radius: 24px;
    border: 2px solid white;
    transition: all .6s ease;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: transparent;
    color: #6453e0;
}
